# Variáveis de ambiente para o servidor MongoDB

MONGODB_USER="your_user"
MONGODB_PASSWORD="your_password"
MONGODB_HOST="your_host"
MONGODB_DB="your_host_bd"

# Variáveis de ambiente para o servidor de nuvem Cloudinary

CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

#Porta do servidor
PORT="8800"

# Variável de ambiente para a chave secreta do JWT

JWT_SECRET="your_jwt_secret"

# Ambiente de desenvolvimento

NODE_ENV="development"
