.postContainer {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.37);
    margin: 30px 0;
}

.postWrapper {
    padding: 10px;
}
.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUserName {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
}

.postCenter {
    margin: 20px 0;
}

.postImg {
    width: 100%;
    margin-top: 20px;
    max-height: 500px;
    object-fit: contain;
}

.postBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likeIcon {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.likeIconSmall {
    width: 20px !important;
    height: 20px !important;
}

.postLikeCounter {
    font-size: 15px;
}

.postCommentText {
    border-bottom: 1px dashed gray;
    cursor: pointer;
    font-size: 15px;
}