.profileContainer {
  display: flex;
  margin-top: 20px;
}

.profileRight {
  flex: 9;
}

.profileCover {
  height: 320px;
  position: relative;
}

.profileCoverImg {
  position: relative;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  border: 3px solid white;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileInfoName {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
}

.profileInfoDesc {
  margin-top: 5px;
  font-weight: 300;
}

.profileRightBottom {
  display: flex;
}

.editIcon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  color: white;
  background-color: #1877f2;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: 1s;
}

.editIcon:hover {
  box-shadow: 0px 0px 5px 2px rgba(24, 119, 242, 0.5);
}
