.rightbarContainer {
    flex: 4;
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
}

.birthdayContainer {
    display: flex;
    align-items: center;
}

.birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthdayText {
    font-weight: 300;
    font-size: 15px;
}

.rightbarAd {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.rightbarTitle {
    font-weight: 500;
    margin-bottom: 10px;
}


/* ProfileRightbar */
.rightbarTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightbarInfo {
    margin-bottom: 30px;
}

.rightbarInfoItem {
    margin-bottom: 10px;
}

.rightbarInfoKey {
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}

.rightbarInfoValue {
    font-weight: 300;
}

.rightbarFollowings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rightbarFollowing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.rightbarFollowingName {
    font-weight: 500;
    margin-top: 10px;
}

.rightbarFollowingImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}