.rightbarContainer {
  flex: 4;
}

.rightbarWrapper {
  padding: 20px 0 0 0;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}

.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.rightbarTitle {
  font-weight: 500;
  margin-bottom: 10px;
}

/* ProfileRightbar */
.rightbarTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.rightbarInfo {
  margin-bottom: 30px;
  position: relative;
}

.rightbarInfoItem {
  margin-bottom: 10px;
}

.rightbarInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.rightbarInfoValue {
  font-weight: 300;
}

.rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.rightbarFollowing {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.rightbarFollowingName {
  font-weight: 500;
  margin-top: 10px;
  color: black;
  font-size: 13px;
  text-transform: capitalize;
}

.rightbarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.rightbarFollowButton {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #1872f2;
  color: white;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  transition: 1s;
}
.rightbarFollowButton:hover {
  background-color: #165ec9;
}

.editIcon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  top: -35px;
  right: 10px;
  color: white;
  background-color: #1877f2;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: 1s;
}

.editIcon:hover {
  box-shadow: 0px 0px 5px 2px rgba(24, 119, 242, 0.5);
}
